div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	pointer-events: none;
}


div#obj136 {
position: absolute;
overflow: hidden;
top: 226px;
left: 219px;
width: 928px;
height: 639px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj136_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 928px;
	height: 639px;
}

div#obj44 {
position: absolute;
overflow: hidden;
top: 73px;
left: 75px;
width: 1200px;
height: 173px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj44_content {
}
div#obj46 {
position: absolute;
overflow: hidden;
top: 856px;
left: 76px;
width: 1200px;
height: 111px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj46_content {
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCText p.Title { 
    font-family: times; 
    font-weight: 600; 
    font-size: 40px; 
    line-height: 150%; 
    color: #000000; 
    text-align: left; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    padding: 10px; 
} 
 
.SCText p.Text { 
    font-family: times; 
    font-weight: 300; 
    font-size: 28px; 
    line-height: 150%; 
    color: #000000; 
    text-align: justify; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    padding: 10px; 
} 
.SCPage {
background-color: #FFFFFF
}
